#!/usr/bin/make -f
# debian/rules for alpine

override_dh_auto_configure:
	dh_auto_configure -- --host=$(DEB_HOST_GNU_TYPE) \
			     --build=$(DEB_BUILD_GNU_TYPE) \
			     --prefix=/usr \
			     --mandir=\$${prefix}/share/man \
			     --infodir=\$${prefix}/share/info \
			     --with-system-pinerc=/etc/pine.conf \
			     --with-system-fixed-pinerc=/etc/pinerc.fixed \
			     --with-passfile=.pine-passfile \
			     --with-smtp-msa=/usr/sbin/sendmail \
			     --with-debug-level=0 \
			     --without-tcl \
			     --with-krb5 \
			     --with-krb5-dir=/usr

override_dh_install:
	dh_install --list-missing
	# Rename pico to pico.alpine.
	# alpine-pico.install puts this in the alpine-pico package.
	mv debian/alpine-pico/usr/bin/pico debian/alpine-pico/usr/bin/pico.alpine

override_dh_installman:
	dh_installman
	mv debian/alpine-pico/usr/share/man/man1/pico.1 debian/alpine-pico/usr/share/man/man1/pico.alpine.1

override_dh_strip:
	dh_strip --dbg-package=alpine-dbg

%:
	dh $@
